@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap");

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background: -webkit-radial-gradient(#d2ffdd, #64c4b5);
    background: -moz-radial-gradient(#d2ffdd, #64c4b5);
    background: -ms-radial-gradient(#d2ffdd, #64c4b5);
    background: -o-radial-gradient(#d2ffdd, #64c4b5);
    background: radial-gradient(#d2ffdd, #64c4b5);
    font-family: "Raleway", sans-serif;
}

.container {
    margin-top: 2.5rem;
}

.header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__one {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.75rem;
    margin-bottom: 2rem;
}

.header__two {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1rem;
}

.tetris {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
}

.content {
    margin-top: 4rem;
}

.tetris__options {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

/* score window */
.tetris-score {
    color: grey;
    display: flex;
    flex-direction: column;
    height: 13rem;
    width: 9rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    align-items: center;
    gap: 1.5rem;
    -webkit-box-shadow: inset 0px 4px 15px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 4px 15px -9px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 4px 15px -9px rgba(0, 0, 0, 0.75);
}

.tetris__score__header {
    font-size: 1.25rem;
}

.tetris__score__value {
    font-size: 2.5rem;
}

.tetris__score__piece {
    font-size: 1.25rem;
}

.tetris__score__line {
    font-size: 1.25rem;
}

/* button */
.tetris__button__start {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.02s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.tetris__button__start:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.tetris__button__start:main,
.tetris__button__start:focus {
    user-select: auto;
}

.tetris__button__start:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.tetris__button__start:disabled {
    cursor: auto;
}

.grid {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div {
    height: 30px;
    width: 30px;
}

.tetromino {
    /* background: #00ffff;
    border: 5px solid #00ffff;
    border-top-color: #b3ffff;
    border-left-color: #00cccc;
    border-right-color: #00cccc;
    border-bottom-color: #004d4d; */
    background-color: blue;
}